node_modules
dist
lib
.husky/_

.vscode/*
.vs/*
!.vscode/extensions.json

*.tgz
*.log
tsconfig.tsbuildinfo

.env

migrations

packages/core/public/imgs/**/*.png
packages/core/public/imgs/**/*.jpg
packages/core/public/imgs/**/*.jpeg