.card {
  width: 380px;
  margin: 10px;
  font-size: 1.05rem;
}

.cardButton {
  height: 40px;
  width: 110px;
  color: #212121 !important;
  font-size: 1.2rem;
  margin: 10px;
  border: 1px solid #00000040 !important;
  border-radius: 5px;
}

.cardButton:hover {
  background-color: #227d51 !important;
  color: #fff !important;
}

.cardList a {
  background: none;
}

.cardButton a:hover {
  background: none;
}

.characterImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.characterCard {
  width: 220px;
  margin: 0.8vh 0.8vw;
}
