.card {
  width: 380px;
  max-width: 95vw;
  margin: 10px;
  font-size: 1.05rem;
}

.card li {
  list-style: none;
}

.characterImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.characterCard {
  width: 220px;
  margin: 0.8vh 0.8vw;
}
