.card {
  width: 1000px;
  max-width: 95vw;
  margin-bottom: 14px;
}

.hitokoto {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
  color: #096148;
  background: none;
}

.content {
  margin: 0;
  height: 200px !important;
  object-fit: cover;
}
